#{extends 'layout.html' /} #{set title:'Edit Alamat' /}

<h1>Edit Alamat ${bukuAlamat.nama}</h1>
<form name="bukuAlamat" action="@{buku_alamat.save()}">
  <a href="@{buku_alamat.index()}">Batal</a>
  <div class="mb-3">
    <label for="nama" class="form-label">Nama</label>
    <input name="bukuAlamat.nama" id="nama" type="text" class="form-control" value="${bukuAlamat.nama}"/>
    <div id="emailHelp" class="form-text">Masukkan nama Anda!</div>
  </div>
  <div class="mb-3">
    <label for="nim" class="form-label">No Telp</label>
    <input
      type="text"
      class="form-control"
      id="nim"
      name="bukuAlamat.notelp"
      value="${bukuAlamat.notelp}" />
    <div id="emailHelp" class="form-text">Masukkan nomor telepon utama Anda!</div>
  </div>
  <div class="mb-3">
    <label for="kabupaten" class="form-label">Kabupaten</label>
    <select
      class="form-select"
      aria-label="Default select example"
      name="bukuAlamat.namakabupaten.id"
      id="kabupaten">
      #{list items:kabupatens, as:'x'} #{if bukuAlamat.namakabupaten.id == x.id}
      <option value="${x.id}" selected>${x.namakabupaten}</option>
      #{/if} #{else}
      <option value="${x.id}">${x.namakabupaten}</option>
      #{/else} #{/list}
    </select>
    <div id="emailHelp" class="form-text">
      Dilarang mengisi kabupaten palsu!
    </div>
  </div>

  <div class="mb-3">
    <label for="alamat" class="form-label">Alamat</label>
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="alamat"
      name="bukuAlamat.alamat"
      style="height: 100px">
${bukuAlamat.alamat}</textarea
    >
    <div id="emailHelp" class="form-text">Dilarang mengisi alamat palsu!</div>
  </div>
  <div class="mb-3">
    <label for="goldar" class="form-label">Golongan Darah</label>
    <select
      class="form-select"
      aria-label="Default select example"
      name="bukuAlamat.namagoldar.id"
      id="goldar">
      #{list items:goldars, as:'x'} #{if bukuAlamat.namagoldar.id == x.id}
      <option value="${x.id}" selected>${x.namagoldar}</option>
      #{/if} #{else}
      <option value="${x.id}">${x.namagoldar}</option>
      #{/else} #{/list}
    </select>
    <div id="emailHelp" class="form-text">Pilih salah satu</div>
    <input type="text" name="bukuAlamat.id" value="${bukuAlamat.id}" hidden />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>