#{extends 'layout.html' /} #{set title:'Tambah Alamat' /}

<h1>Ubah Buku Alamat</h1>
<a href="@{buku_alamat.index()}">Kembali ke view</a>
<form action="@{buku_alamat.save()}" name="bukuAlamat">
    <div class="mb-3">
        <label for="nama" class="form-label">Nama</label>
        <input type="text" class="form-control" name="bukuAlamat.nama" value="${bukuAlamat.nama}">
      </div>
      <div class="mb-3">
        <label for="notelp" class="form-label">No telepon</label>
        <input type="tel" class="form-control" name="bukuAlamat.notelp" value="${bukuAlamat.notelp}">
      </div>
      <div class="mb-3">
        <label for="alamat" class="form-label">Alamat</label>
        <textarea class="form-control" name="bukuAlamat.alamat" rows="3" value="${bukuAlamat.id}"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-primary">Ubah</button>
</form>