#{extends 'layout.html' /} #{set title:'Buku Alamat' /}

<h1>Buku Alamat</h1>
<a href="/buku_alamat/insert">
    <button type="button" class="btn btn-outline-primary">Tambah Data</button>
</a>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Nama</th>
                <th scope="col">No Telepon</th>
                <th scope="col">Alamat</th>
                <th scope="col">Kabupaten</th>
                <th scope="col">Golongan Darah</th>
                <th scope="col">Aksi</th>
            </tr>
        </thead>
        <tbody>
            #{list items:daftar, as:'x'}
            <tr>
                <td>${x.nama}</td>
                <td>${x.notelp}</td>
                <td>${x.alamat}</td>
                <td>${x.namakabupaten}</td>
                <td>${x.namagoldar}</td>
                <td>
                    <button type="button" class="btn btn-outline-warning">
                        <a href="@{buku_alamat.edit(x.id)}"></a>
                        Edit
                    </button>
                    <button type="button" class="btn btn-outline-danger">
                        <a href="@{buku_alamat.delete(x.id)}"
                        onclick="return confirm('Apakah Anda yakin?')"></a>
                        Delete
                    </button>
                </td>
            </tr>
            #{/list}
        </tbody>
    </table>
</div>