#{extends 'layout.html' /} #{set title:'Tambah Alamat' /}

<button type="button" class="btn btn-outline-secondary">
  Batal
  <a href="@{buku_alamat.index()}"></a></button><br/><br/>

<h1>Tambah Alamat</h1>
<form name="bukuAlamat" action="@{buku_alamat.save()}">
  <div class="mb-3">
    <label for="nama" class="form-label">Nama</label>
    <input name="bukuAlamat.nama" id="nama" type="text" class="form-control"/>
  </div>
  <div class="mb-3">
    <label for="telp" class="form-label">Nomor Telepon</label>
    <input
      type="text"
      class="form-control"
      id="telp"
      name="bukuAlamat.notelp" maxlength="12" placeholder="081234567891"/>
  </div>
  <div class="mb-3">
    <label for="kabupaten" class="form-label">Kabupaten</label>
    <select
      class="form-select"
      aria-label="Default select example"
      name="bukuAlamat.namakabupaten.id"
      id="kabupaten">
      #{list items:kabupatens, as:'x'}
      <option value="${x.id}" placeholder="Dilarang">${x.namakabupaten}</option>
      #{/list}
    </select>
    <div id="emailHelp" class="form-text">
      Dilarang mengisi kabupaten palsu!
    </div>
  </div>

  <div class="mb-3">
    <label for="alamat" class="form-label">Alamat</label>
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="alamat"
      name="bukuAlamat.alamat"
      style="height: 100px"></textarea>
    <div id="emailHelp" class="form-text">Dilarang mengisi alamat palsu!</div>
  </div>
  <div class="mb-3">
    <label for="goldar" class="form-label">Golongan Darah</label>
    <select
      class="form-select"
      aria-label="Default select example"
      name="bukuAlamat.namagoldar.id"
      id="goldar">
      #{list items:goldars, as:'x'}
      <option value="${x.id}">${x.namagoldar}</option>
      #{/list}
    </select>
    <div id="emailHelp" class="form-text">Pilih salah satu</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>