#{extends 'layout.html' /} #{set title:'Home' /}

<div class="jumbotron">
    <h1 class="display-4">
        #{if name!=""} Halo ${name}, #{/if}#{else} Halo, #{/else} semoga harimu menyenangkan
    </h1>
    <p class="lead">Ini merupakan website untuk mencatat alamat-alamat dalam bentuk digital.</p>
    <hr class="my-4" />
    <p>Klik button di bawah ini, maka akan diarahkan ke halaman Daftar Alamat.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg"
        href="@{buku_alamat.index()}"
        role="button">
            Tambahkan Alamat
        </a>
    </p>
</div>